@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Rambla | Error";
}

<div class="container_12">
    <div class="header_to_body_gap"></div>
    <div class="grid_12">
        <div>
            <div id="Error_Title" class="title_container">
                <h1>
                    Bit by the beta bug
                </h1>
                <h2 id="Error_Subtitle" class="page_subtitle">
                    We're in beta and we're working diligently to fix such errors.
                </h2>
            </div>
        </div>
        <div class="container">
            <p>
                If this problem persists, please drop us a line using the feedback button.
            </p>
        </div>
    </div>
</div>