<log4net>
  <appender name="DebugLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value=".\\Logs\\Debug\\Rambla_Debug_Log-" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <maximumFileSize value="10MB" />
    <datePattern value="yyyyMMdd" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value=".\\Logs\\Error\\Rambla_Error_Log-" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <maximumFileSize value="10MB" />
    <datePattern value="yyyyMMdd" />
    <staticLogFileName value="false" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="WARN" />
      <levelMax value="FATAL" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%exception" />
    </layout>
  </appender>
  <!-- A1 is set to be a FileAppender
  <appender name="FileAppender" type="log4net.Appender.FileAppender">
    <file value="C:\\Documents and Settings\\Administrator\\My Documents\\visual studio 2010\\Projects\\Log4NetExample\\Log4NetExample\\Log4NetExample.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
  -->
  <!-- A1 uses PatternLayout 
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
    </layout>
  </appender>
  -->

  <!-- Set root logger level to DEBUG and its only appender to A1 -->
  <root>
    <level value="DEBUG" />
    <appender-ref ref="DebugLogFileAppender" />
  </root>
  <!--
  <logger name="Rambla">
    <level value="DEBUG" />
    <appender-ref ref="DebugLogFileAppender" />
  </logger>
  -->
  <logger name="otr_project.MvcApplication">
    <level value="DEBUG" />
    <appender-ref ref="ErrorLogFileAppender" />
  </logger>

</log4net>
