<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings xdt:Transform="Replace">
    <add name="MarketPlaceEntities"
         connectionString="Server=tcp:y465ewi31q.database.windows.net,1433;Database=RAMBLA_SQL;User ID=SqlAdministrator@y465ewi31q;Password=awTvPzFA4JD6ozOgAIln;Trusted_Connection=False;Encrypt=True;Connection Timeout=30"
         providerName="System.Data.SqlClient" />
    <add name="ApplicationServices"
         connectionString="Server=tcp:y465ewi31q.database.windows.net,1433;Database=RAMBLA_SQL;User ID=SqlAdministrator@y465ewi31q;Password=awTvPzFA4JD6ozOgAIln;Trusted_Connection=False;Encrypt=True;Connection Timeout=30"
         providerName="System.Data.SqlClient"/>
    <add name="ElmahLoggingServices"
         connectionString="Server=tcp:y465ewi31q.database.windows.net,1433;initial catalog=ElmahLog;User ID=SqlAdministrator@y465ewi31q;Password=awTvPzFA4JD6ozOgAIln;Trusted_Connection=False;Encrypt=True;Connection Timeout=30"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="Off" xdt:Transform="Replace"></customErrors>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com" port="587" enableSsl="true" userName="support@ascensioncap.ca" password="*Dd!kcb!q6BqW32t!m37Gq" xdt:Transform="Replace"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>